@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}   



/* Header */
.header {
    background-color: antiquewhite;
    margin-right:0px;
    margin-left: 0px;
    padding-top: 2px;
    margin-bottom: 40px;
    top: 0;
}

.header ol {
    float: right;
    line-height: 43px;
    margin: 17px;
    font-size: 120%;
    font-weight: 500;
} 

.header ol li {
    list-style-type: decimal-leading-zero;
    float: left;
    margin-left: 40px;
    margin-right: 17px;
} 

.header img {
    margin: 17px;
    width: 86px;
    height: 43px;
}



/* Sidebar */
.sidebar {
    position: fixed;
    bottom: 0;
    left: 2;
    margin-bottom: 5px;
}

.sidebar img {
    width: 30px;
    height:30px;
    margin-bottom: 2px;
    display: block;
}

#sidebar-design {
    height: 80px;
}



/* Content */
.content {
    width: 650px;
    margin: auto;
    height: 100%;
}

.sub-title {
    display: inline;
    margin-left: 10px;
}

.num {
    display: inline-block;
}

.content > div {
    min-height: 100vh;
}



/* Home */
.home .name {
    margin-bottom: 0px;
}

.statements {
    margin: 0px;
    color: dimgrey;
}




/* About */




/* Experience */
.jobs-sidebar {
    margin-right: 20px;
}

.jobs-sidebar button{
    display: block;
    border-style: none;
    border-left: solid;
    background-color: transparent;
    margin: 0px;
}

.jobs-sidebar button:hover {
    color: green;
    border-left-color: silver;
}

.job-container {
    display: flex;
}

.job h3 {
    display: inline;
}



/* Projects */




/* Contact */

